<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>billmateinvoice</name>
	<displayName><![CDATA[Billmate Invoice]]></displayName>
	<version><![CDATA[2.0]]></version>
	<description><![CDATA[Accepts invoice payments by Billmate]]></description>
	<author><![CDATA[eFinance Nordic AB]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your settings?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>